<ng-container *ngIf="dataSource && dataSource.filteredData && dataSource.filteredData.length > 0; else emptyDefault">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container *ngTemplateOutlet="formatters['translator']; context: { $implicit: col.name}">
        </ng-container>
      </th>

      <td mat-cell class="data-cell" *matCellDef="let element">
        <ng-container *ngIf="col.cellFormatter; else noFormatter">
          <ng-container *ngTemplateOutlet="formatters[col.cellFormatter]; context: { $implicit: element[col.name]}">
          </ng-container>
        </ng-container>
        <ng-template #noFormatter>{{element[col.name]}}</ng-template>
      </td>
    </ng-container>

    <tr mat-header-row class="header-row" *matHeaderRowDef="columnList"></tr>
    <tr mat-row class="data-row" *matRowDef="let row; columns: columnList"></tr>
  </table>
</ng-container>

<ng-template #emptyDefault>
  <div>
    No results for {{title}}
  </div>
</ng-template>